:root {
  //colors
  --primary-color: #03C988;
  --secondary-color: #9EC775;

  --color-white:#fff;
  --color-black:#000;

  //fonts
  --primary-font: "Rubik", sans-serif;
  --secondary-font: "PT Serif", serif;
}
