.features
{

    &__icon
    {
        font-size:3.5rem;
        color:var(--secondary-color);
    }
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: left;
    row-gap: 5rem;
    column-gap:8rem;

    &__title
    {
        font-size:2.5rem;
    }


    &__heading
    {
        text-align: center;
        // font-size:3rem;
        margin-bottom: 10rem;
        
    }

    &__para
    {
        font-size:1.6rem;
        // width: 70%;
        margin:0 auto;
    }
}